.app {
  background-image: linear-gradient(to bottom right, #3066be, #80ded9 60%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  button {
    background-color: rgb(255, 255, 255);
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    width: 30%;
    border: solid 1px #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 150ms;
  } 
  button:hover {
    border: solid 1px #119da4;
  }
  button:active {
    border: solid 2px #119da4;
    padding: calc(0.5rem - 1px) calc(0.75rem - 1px) calc(0.5rem - 1px) calc(0.75rem - 1px);
  }
}

