.keywords {
  width: 100%;
  .add-keyword {
    cursor: text;
    width: 100%;
    -webkit-app-region: no-drag;
    background-color: #eeeeee;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    border: solid 1px #eeeeee;
    border-radius: 5px;
    transition: 150ms;
  }
  .add-keyword:focus {
    outline: none;
    border: solid 1px #119da4;
  }
  .keyword {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 0.2rem 0.2rem 0.2rem 0.75rem;
    -webkit-app-region: no-drag;
    background-color: #eeeeee;
    border: solid 1px #eeeeee;
    border-radius: 5px;
    cursor: pointer;
    transition: 150ms;
    span {
      margin-left: 0.45rem;
    }
  }
}