.sign-in {
  background-image: linear-gradient(to bottom right, #5c21ff, #9B89B3);
  height: 100vh;
}

.middle-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 4.5rem 3rem 2rem 3rem;

  input {
    width: 35ch;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    border: none;
    border-bottom: solid 1px #8e8e8e;
    margin-bottom: 10px;
  }
  input:focus {
    outline: none;
    border-bottom: solid 1px #5c21ff;
  }

  .below-fields {
    display: flex;
    justify-content: space-between;
    width: 100%;
    span {
      font-size: 0.75rem;
      color: red;
      display: flex;
      align-items: center;
      padding: 0.5rem 0.75rem 0.5rem 0.75rem;
      border: solid 1px #ffffff;
    }
  }

  .sign-in-button {
    background-color: rgb(255, 255, 255);
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    border: solid 1px #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 150ms;
  }
  .sign-in-button:hover {
    border: solid 1px #5c21ff;
  }
  .sign-in-button:active {
    border: solid 2px #5c21ff;
    padding: calc(0.5rem - 1px) calc(0.75rem - 1px) calc(0.5rem - 1px) calc(0.75rem - 1px);
  }

  .sign-up, .forgot {
    font-size: 0.75rem;
    .underlined {
      background-image: linear-gradient(#5c21ff, #5c21ff);
      background-size: 0% 0.1em;
      background-position-y: 100%;
      background-position-x: 0%;
      background-repeat: no-repeat;
      transition: background-size 150ms ease-in-out;
      cursor: pointer;
    }
  }
  .sign-up:hover, .forgot:hover {
    .underlined {
      background-size: 100% 0.1em;
    }
  }

  .sign-up {
    margin-top: 1.5rem;
  }
}