.full-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
}

.app {
  background-image: linear-gradient(to bottom right, #3066be, #80ded9 60%);
  width: 50%;
  height: 50%;
}